.image {
  background-image: url('../../images/example-2.jpg');
  position: fixed;
  top: 0;
  left: 0;
  height: var(--size-screen-h);
  width: var(--size-screen-w);
  z-index: -1;
  object-fit: contain;
  object-position: 50% 50%;
}
